# Cluster Congress list of Twitter trolls and bots

First, get features.  We have id and handle for each person on the list.  The id is one of two types: early user ids, which were just numbers, and later user ids, which contain (timestamp, machine id, sequence number). 
* Not sure yet what the boundary line is.  Guess it's anything bigger than 22 bits wide? 

This is the list released (as a pdf) by Congress. Am not the only person looking at this: see e.g 
* https://arxiv.org/pdf/1801.09288.pdf

Stuff abandoned:
* print('{}'.format(list(set(df['user id'].tolist()) ^ set(df2['id'].tolist()))))

Fixits
* Look at machine id: does it mean anything, is it useful?  See notes in https://jbum.com/papers/TrackingTwittersGrowthAfterSnowflake.pdf

In [1]:
import pandas as pd
import math
import datetime
pd.set_option("display.max_rows", 3000)


# Extract everything I can from the userid
def decode_twitter_id(twitterid, verbose=False):
    
    # Weed out old twitter ids
    # put boundary at pow(10,12)
    if twitterid < math.pow(10,12):
        return(twitterid, 0, 0, 0, 0)
    
    twitter_epoch = 1288834974657
    bins = '{0:b}'.format(twitterid)
    if verbose:
        print('{0}\n{1}, {2}, {3}'.format(bins, bins[:-22], bins[-22:-12], bins[-12:]))
        print('{0}, {1}, {2}'.format(int(bins[:-22], base=2), int(bins[-22:-12], base=2), 
                                            int(bins[-12:], base=2)))
    seq = int(bins[-12:], base=2)
    mid = int(bins[-22:-12], base=2)
    tepoch = twitter_epoch + int(bins[:-22], base=2)
    tmillis = tepoch % 1e3
    tstamp = datetime.datetime.utcfromtimestamp(tepoch/1e3).strftime('%Y-%m-%d %H:%M:%S')
    return(seq, mid, tepoch, tstamp, tmillis)


dfusers = pd.read_csv('../other_datasets/congress/exhibit_b_russialinkedtwitterbots.output.csv')
dfusers = dfusers.sort_values('user id')
dfusers = dfusers.reset_index()
dfusers['unpacked'] = dfusers['user id'].apply(decode_twitter_id)
dfusers[['seq', 'mid', 'tepoch', 'tstamp', 'tmillis']] = dfusers['unpacked'].apply(pd.Series)
print('{} users'.format(len(dfusers)))
dfusers

2752 users

      index             user id           handle  \
0      2199            18710816    RobbyDelaware
1       203            34976398  andrey_lischina
2      1530            38875764          Leecory
3      2224            79546124      rose4walker
4       450            79626053    BrianFirst001
5       942            79656273   Fuad_Ibragim0v
6       381            79664972  BettyRoberts212
7      1706            79674957     Mary_Moss090
8         3            79793901    1DRussianFNDM
9      2412            79932154          sqaxwer
10     2692            79948566   Wild_James2000
11     2182            80030327   Richirichi_big
12      828            80038725   Elizabeth_Pr22
13      354            80141449     BeliebeRssia
14      971            80172843  George_Anonymus
15      584            80181951      ChrisBo0112
16      554            80233454     Charles_Chak
17      674            80358521  Daniela_nielala
18     1271            80422283   Jennifer_booty
19     1500            80429968  LadyLindaParker
20     1526            80530724   lea_mikkelsen1
21      975            80557728   GeorgeNelson00
22     1057            80624745  Harlamov_Sarhat
23      101            80694718   Airon_AironBut
24        8            80712878     2oliverbaker
25        9            80723578   30ToMarsFandom
26      622            80728450    CollinsFandom
27     1665            80750245  margaretttt_suu
28     2431            80756019  StephanieCCoper
29      712            80762559      DeborahREEE
30      218            80795044   Angela_Moore66
31      910            80807978      FerrariBett
32     1711            80939698     MaryHill0912
33     1517            80968672    Lauren_grayyy
34      249            87588938           anzgri
35     2305           100345056      SCOTTGOHARD
36     2120           131812518        Pribyshin
37     1487           189295762          KrutkoT
38     2059           189659120         perespal
39      927           200028346   Forumstrategov
40      344           247165706      Beckster319
41     2371           249538861    skatewake1994
42     1003           410005607     GorbatovLive
43     1368           449689677    KadirovRussia
44     1671           471868887      MargoSavazh
45     1176           480763276          iris0_o
46     2442           495178226       stopigra10
47     2404           503609280       SpasiboVVP
48     1765           528571696          Memizis
49     1705           535666492       Mary_Giber
50     1580           535690498        Lmarinays
51      337           553693295       Bauman_off
52     2661           771805760        Voltstern
53     1915           772081711         NikaFast
54     1434           782394048           Kint_D
55     2558           814006572     tovanovpetr1
56     2634          1004299140    vikaivanovasa
57     1183          1034490872  islam_saadulaev
58      690          1039581360        darknally
59      376          1046092711   Best_food_ever
60     1174          1119674754           irgzna
61     1821          1119791450     MolodyakovAS
62      624          1240007161   ComradZampolit
63     2355          1405742114    shlyhagorodov
64     1978          1443766015   nyan_meow_meow
65     1616          1497280638    LynsRodriguez
66      466          1500348030    brookedozzier
67     2202          1500831656    RobertHughess
68      954          1504356343   GallowayEliana
69     1502          1510488662        lagonehoe
70      531          1512371617  CatelineWatkins
71     2723          1513801268     YouJustCtrlC
72     1835          1517678892         MrMoraan
73     1935          1518857420     NoJonathonNo
74     1363          1521923923       jwoods_man
75     2471          1522990195      T0ny_0brien
76     2147          1523206722    Randall_Cooke
77     2628          1524977030       vickyroooy
78     1621          1525692421     Mable_Landry
79     1349          1526705383     Julianna_Yes
80     1590          1526818651      lorenaishot
81     2459          1527133837         SusaYung
82      947          1527188154        G__Aharon
83      263          1527687456     ArielShining
84      486          1529831634        Byers_way
85     1876          1529997234   NathalyApodaca
86      285          1530027038       Ashley_Kri
87      862          1531472046       erickwaltt
88     1702          1532157468      MartinIvine
89      556          1532863891   CharlesJHarper
90     1061          1533025808   harrymagician_
91     2340          1533271928  ShannonGibsonIm
92      733          1533799478    DerekkGregory
93     2118          1533813962  PrettyLaraPlace
94     2484          1534083420    taraformation
95     1656          1534204219    Mandy9Stevens
96     1578          1534458794     Ll0ydTheKing
97     1709          1551353520      MaryCarry92
98      126          1552175815      AlexisFoxie
99      581          1552482290    chris_sis_sis
100    1597          1575587755     Lou_Galloway
101     272          1580700565      arnoldparrk
102     307          1583418072        ayanna__0
103     385          1584279696     BigBoyJasiah
104    1529          1585023582    LeBLaNcPeTeR_
105    1263          1589032404     JeffyDaniels
106    1986          1592181703         ohohahas
107     373          1594719241      Bert_Henley
108    1281          1594887416   Jery_RobertsYo
109    2477          1611772874  TakeMeUpTheHill
110    1554          1612106972       LILJordamn
111     818          1615059818   EliasAkaParker
112    1527          1615093999         Leach_4U
113     768          1617741380       DonaldOuch
114    2049          1617939218        PaulineTT
115     887          1618091364         EvBowman
116     729          1618193522    denny_bentley
117     442          1618230812   Brent_Kendrick
118     964          1618361292    GayleHappyMom
119    1542          1618590738  LesleyKindQueen
120     794          1618776518      EddieAlonz0
121    1661          1619930611   marcella_eaton
122    2145          1620474397     RamonasNails
123    1096          1620750968      HoldMeJerry
124    2262          1620983264      SadieEatonn
125     388          1621376306     BigSeanBeast
126    1080          1622069972    Herbert_Bacon
127    1755          1622331240         Mekhi_Ln
128    2220          1622808421        ronick_kk
129    1945          1623062953     NotBallinYet
130    1260          1623180199   JeffreyKahunas
131    2509          1624184988   TheGrandTaylor
132    2734          1624870368     zelinabowman
133     553          1624893212   charity_fuller
134    1754          1625965398      MeggieONeil
135     607          1626302035     ClayPaigeBoo
136    1251          1627096807        JassScott
137     513          1627699074       CannonSher
138    1426          1629087134   KevinNotBrooks
139     529          1629828379       cassishere
140    1139          1630766899   igor_romahchuk
141     421          1634974927   bobbychandlerr
142     634          1640787758     CornerGloves
143     506          1642461998     cameronJJJ11
144    2737          1642939963         Zhi_Yue_
145    1297          1643740674        JJ_WALSHJ
146    1762          1644284090      MellyBarton
147    1182          1645888604      Isiah_Casas
148     914          1645969141       FightM_D_B
149    1761          1645994059    MelissaYesIam
150    1283          1646145600     JesseHeath86
151     308          1646337218      AydenBoston
152     615          1646340175         ColbyST1
153    1097          1646999972  hollandpatrickk
154     329          1647013669       Barely_Kim
155     523          1647045721  CarrieThornthon
156    1491          1647074334      KyleBurrit0
157     242          1647145754     anthonycartr
158    2438          1647215666    Steve_Nelson_
159    1812          1647234780    Mitch_llLynch
160    2125          1647237457   prosto_neprost
161    1252          1647241154     JavierMJohns
162      89          1647263978        AEsparzza
163    2352          1647267829     ShieldsClint
164    2457          1647271440        SusanM321
165    1235          1647277573        JamiMahdi
166     540          1647287390        Celest1ne
167     374          1647303654  BerthaDavidson_
168    1667          1647337879        Margie__G
169     759          1647345536    Dmitro_Gondar
170    1538          1647400878      leonid_1102
171    1806          1647406536   mishka_bagirov
172     619          1647457314  colinsneverland
173    1069          1647461256  Hayden_morrisss
174    2580          1647485210    tyler_ralphss
175     500          1647500706  callmecupcake45
176    2212          1647547494      RomaBulavin
177     353          1647563018       BekkaTaffs
178    2033          1647612534    PashaBorodach
179    1402          1647637538     KaydenMelton
180    2519          1647662118       thisiskate
181     393          1647754285  black_maryblack
182    2648          1647824072     VityaGrushin
183    1327          1647858578       JordanJJJo
184    1574          1647896215      LizaHasJust
185    1197          1647900368     Ivan_ivchenk
186    1155          1648012021   ImaPharrelFake
187    1872          1648027452  NataliNatalilil
188    2732          1648078074         ZaytcevY
189     944          1648099592       Funky_KaY1
190     864          1648101588       ericwoodod
191    2458          1648125182   SusanPeterson_
192     601          1648171825    claire_court_
193    1380          1648180220     Karl_Summers
194    2206          1648197181       robynrhode
195     143          1648717616     AlizasShield
196     766          1649000906     domm_clayton
197    2683          1649144358   WesternWindWes
198    2113          1649152788     Porter_2type
199     289          1649367912     ashleysimpsn
200      44          1649484187     _Ruby_Wills_
201    1227          1649486916    JakeWhite1987
202    1091          1649487510        HiImKhloe
203     230          1649593796        Ann_HanAh
204     557          1649652192   CharlesRespeck
205    1994          1649719753    OliviaDWarren
206    2716          1649759431      YaelTrouble
207     923          1649779795     FlissFlowers
208     186          1649897624        an_na__an
209     744          1649918402   DIAMONDSL0VEME
210      41          1649967228       _NickLuna_
211    1912          1649978522  NightGetsLonger
212    2672          1649992644       Walter_Hey
213    1178          1650097994     isa_bella_gr
214    1073          1650310652    HellieEdwards
215    1145          1650681522  IlikeBIGbuttand
216     282          1650709597   ashleecollinss
217    2707          1651108392       WonderHann
218     867          1651119014  ernestineealvar
219     936          1651153304  fredythecreator
220    2481          1651155716         Tan_Bray
221      54          1651191403    AaronAllenAll
222    1204          1651414050        Ivey_Mexx
223    2452          1651427328      SummerHandy
224    1701          1651664400  Martines_tweets
225    2424          1651692980       staywoke88
226     646          1651693646   CynthiaMHunter
227     778          1651767578     dreeeew1huds
228    2231          1651928071    RoyPreston1st
229    1320          1652099712     Johns_Gavin_
230      66          1652138929         acejinev
231     451          1652218933  brianna_denton_
232     245          1652262638      AntonHayHay
233     786          1652422783       DwightB0nd
234    1840          1652457685     MsHeathOwens
235    2379          1652480412        SM_Downey
236     111          1652987412     AlecMooooody
237     921          1653391176    FisherrrCaleb
238    1313          1653393446      JohnieVOGUE
239     849          1653442950        EmmettMth
240    1255          1653553555  JaydaAstonishin
241     214          1653974156      ang__bowers
242    2119          1654323186     prettysashah
243    1277          1654344751     Jeremiah_Jah
244    1740          1654347974        maymaymyy
245    2031          1654360560    partyforpatty
246    2197          1654382456       RivkaLange
247    1367          1654391976      KadenMccray
248    2537          1654392103        TJDukestw
249    1772          1654629176         miaonsea
250    2555          1654693410        tony_may_
251    1156          1654695517        ImaSwerve
252     885          1654750140  EvanNotMcgregor
253    1275          1654763474       jeraldwoow
254      84          1654782062       Adri_Low_r
255    2627          1654929168     VickyLovelyG
256    1757          1655194147    melanymelanin
257    1165          1655206933    inna_vinocury
258    2368          1655288160    SincerePruitt
259     614          1655441112      codyrandal1
260    1639          1655523078       Makai_Brch
261    1258          1655815544      JeaNuttella
262     623          1655845068       Colly_Mick
263     501          1655956760      Calvin_Barn
264    1157          1656024374       IMissObama
265    1452          1656127237      kisskissdeb
266    2631          1656536544  VictoriaMaximus
267    2420          1656562842   Stanley_Spivey
268    1257          1656685598  JeanneMccarthy0
269     173          1656919058       AmiraFerrr
270     834          1657021783      EllisHarm0n
271     877          1657044541        Etta_Jhns
272    2136          1657557685       RachDurant
273     653          1657694515      DaileyJadon
274    1311          1657753759      JohnBranchh
275      87          1657833811      Adrienne_GG
276    1398          1657876885     KattyyGeorge
277    2501          1657916378   TerriIsTooGood
278    2492          1657918692      tedsanderss
279    1916          1657987140        NIKANNika
280    1516          1658202894      LauraBaeley
281    1113          1658227478      hungrycelia
282    2548          1658302920    TolliverSteph
283     648          1658321581  D_andre_Austin_
284     326          1658420976        BaoBaeHam
285    2563          1658440730     TravisRespek
286    1401          1658670734    Katylockheart
287    1159          1659294710       Ina_Malone
288     610          1659378644      ClydeDaws0n
289     833          1659406550   EllaWonderGirl
290     330          1659487244    BarelyBarboza
291    1652          1659549972     MalloryJared
292    1126          1659619561    iammonicababy
293    1376          1659753702    KarenParker93
294    2504          1660183028      TessyElmore
295      83          1660186831        AdrGreerr
296    1149          1660375034   iLoveSarahRich
297    1077          1660622984     Henriquez_A2
298     959          1660771422  GarrettSimpson_
299     663          1660804459      DamaniMiles
300    1330          1661165312   JordanSheltonW
301    1583          1661166252    Logan_WhatsUp
302     333          1661178714       Barry_mill
303     846          1661240948       Emma_Fssxx
304    1388          1661246144    KateRitterrrr
305     797          1661275710      EdmundC0oke
306     526          1661281716       casie_lang
307     428          1661380770     BondTonyB0nd
308    1295          1661837562      JimThurmann
309     869          1662453998      ErRivvvvers
310    2175          1662779209        RH0lbr00k
311     785          1663062360      DustinCoool
312    2389          1663083740        Soler_Mch
313    1948          1663150172     notyourlilly
314    2249          1663262156         Ryan_Bet
315    1101          1663339567    honeybobooboo
316    1192          1663428768      itsderekmor
317     918          1663583694         FinnaGlo
318    1823          1664023872  monicaa_mmonica
319    1778          1664241739       MicParrish
320    1229          1664609125     James_Kampor
321     176          1664838877    AmiyahSamuels
322    2348          1664929878       Sheila_Shh
323    1090          1664932411    HiImJoeBryant
324     604          1664988493    claudia42kern
325    1623          1665335473      Mad_Benjami
326     819          1665377383       EliasBrick
327    2669          1665477576       WadeBintou
328    1996          1665650106    Olllll_llllie
329    2018          1666030405    PamBLMDaniels
330    2350          1666188686       Sherman_Cn
331    1231          1666382036     jamie_diver_
332    1172          1666957118      Ira_Combomb
333     502          1667019746       Calvin_Yek
334     731          1667054263        Der_rickA
335    1206          1667343554        iwomamybb
336    1230          1667355631       JamHarris_
337     359          1667364055       Bender_Mel
338    2192          1667487494       riogithief
339    1062          1667740255   HarryTheFather
340    1128          1668025357       IanCalh0un
341    1508          1668210535     LaraPalmer23
342    1131          1668213361         ibocasid
343     644          1668307436     CurtisBigMan
344    1312          1668314575   JohnieBoyCooks
345     739          1668700099        Devin_Yat
346    2341          1669548668       shannyzzzz
347     737          1669574551          deusXYX
348    2488          1669728344    Taylor_Parksy
349     378          1669968264      BettieEvanz
350    1253          1670149272        JavonHIDP
351    2362          1670318690    Siccerthanyou
352     462          1670345594   BrittanyLane_1
353    1027          1670448043   GuillNavarrete
354    1130          1670715222      ibetyouwill
355      73          1670762347    AdamChapmanJR
356    1604          1671197930      Lucky_Lem0n
357    1122          1671234620          hyddrox
358    2070          1671235320        PeyRidley
359     692          1671576282     darleneking_
360     269          1671936266       Arm_2_Alan
361     185          1672104320      An_n_gaston
362    2295          1672148624         SavyHurt
363    2079          1672223552     PhillipCarrr
364    2274          1672624255      SamirGooden
365    1572          1672958089     littlebettyy
366    2078          1673103307  Phillip_Chris10
367     880          1673166168     EugnBalyasin
368    1793          1673479519     MilagrosVeve
369      47          1673956951  _SolomonAlbert_
370     948          1674083671       Gab1Aldana
371    2307          1674098827         ScttCrsn
372    1210          1674169892           J_Cl_k
373    1493          1674236288       KyleS0ccer
374    1226          1675032908       Jaime_Booo
375     771          1675091161     Donnie_heRo_
376    2472          1675201320    T0nyaCrawford
377     452          1675280893   BrianTheLifter
378      62          1675561518    AbramsRebekah
379     693          1676106997   darnellmathiss
380    1771          1676167842      MetsTheBest
381     548          1676377446       ChadSloyer
382     514          1676437802         car_rems
383    1810          1676451979   MisterBridges_
384     844          1676481360      EmileeWaren
385    2581          1677033234    TylerBuckBuck
386    1036          1677048979       GwennyThot
387    1819          1677118110        mojoyoman
388    1284          1677442512         JesseJym
389     152          1677511772    AlyssaBedolla
390     244          1677582914      AntieHarmon
391    2706          1678552327     WokeFromDay1
392    2062          1678942897   Peter_Downs_Up
393     569          1679035434        CheongMai
394    1874          1679045701      Nath_Alma_z
395    1441          1679137712   kirbythefamous
396     170          1679279490    AmelieBaldwin
397    2094          1679348316    PlsCallMeAbby
398    1651          1679627444        MallBowen
399    2008          1679829966     OriginOfKaty
400     680          1680349964   Danny_Turner_1
401    2701          1680366068    WillisBonnerr
402    2226          1680578719     RosieOnFleek
403    2345          1680623360   ShaylaGarrettt
404     991          1680848678     GlennHarper_
405    1017          1681000476      Greg_GreGG_
406     509          1681162956       camosaseko

In [3]:
# Try steps of 1, 10, 100, 1000 etc to see what's common. Nothing til 1000...
last = 0
for index, row in dfusers.iterrows():
    if (row['user id'] - last < 1000):
        print('{}'.format(last))
    last = row['user id']

1649486916
1651692980
1654391976
1661165312
1671234620
1690487623
1692919442
1699979024
1853237414
2527977731
2577151334
2577817587
2579342573
2582408195
2592432748
2627660745
2730955150
2753138169
3084865707
3085183996
3088961943
3091268752
3092323815
3092507884
4484289856

In [19]:
dfusers['mid'].value_counts()

0      2229
376      45
365      43
352      42
374      37
363      32
377      27
375      26
379      25
378      24
373      22
369      16
353      13
354      12
346      10
360       9
332       9
322       9
342       8
349       8
359       8
367       8
333       7
320       7
323       6
326       6
364       5
356       5
358       5
370       5
366       5
372       5
380       5
348       4
324       3
334       3
336       3
321       3
368       2
382       2
355       2
331       1
337       1
339       1
330       1
347       1
371       1
381       1
Name: mid, dtype: int64

## Look at more detailed (but smaller) list of trolls

In [4]:
datadir = '../drivedatasets/nbc_congress_trolls/'
dfdetailed = pd.read_csv('{}/users.csv'.format(datadir))
dfdetailed

,id,location,name,followers_count,statuses_count,time_zone,verified,lang,screen_name,description,created_at,favourites_count,friends_count,listed_count
0,1.003451e+08,still ⬆️Block⤵️Corner⬇️street,#Ezekiel2517✨...,1053.0,31858.0,NaN,False,en,SCOTTGOHARD,CELEBRITY TRAINER ✨#424W147th✨ #CrossfitCoach ...,Tue Dec 29 23:15:22 +0000 2009,2774.0,1055.0,35.0
1,2.471657e+08,"Chicago, IL",B E C K S T E R✨,650.0,6742.0,Mountain Time (US & Canada),False,en,Beckster319,Rebecca Lynn Hirschfeld Actress.Model.Writer.A...,Fri Feb 04 06:38:45 +0000 2011,7273.0,896.0,30.0
2,2.495389e+08,NaN,Chris Osborne,44.0,843.0,NaN,False,en,skatewake1994,NaN,Wed Feb 09 07:38:44 +0000 2011,227.0,154.0,1.0
3,4.496897e+08,NaN,Рамзан Кадыров,94773.0,10877.0,Moscow,False,ru,KadirovRussia,"Пародийный аккаунт. Озвучиваю то, что политика...",Thu Dec 29 11:31:09 +0000 2011,0.0,7.0,691.0
4,4.718689e+08,"Санкт-Петербург, Россия",Маргарита Саваж,23305.0,18401.0,Volgograd,False,ru,MargoSavazh,Честь имею. Нагло врать не умею.,Mon Jan 23 10:26:25 +0000 2012,1480.0,8021.0,231.0
5,1.039581e+09,Amerika,Dark Nally,22.0,22603.0,Jakarta,False,id,darknally,uptodate news!!!!,Thu Dec 27 13:06:58 +0000 2012,0.0,40.0,16.0
6,1.510489e+09,USA,Laila Heats,3080.0,2228.0,Eastern Time (US & Canada),False,en,lagonehoe,How can you judge me when you don’t know me?,Wed Jun 12 13:07:49 +0000 2013,3504.0,2369.0,12.0
7,1.513801e+09,USA,CC Jack,2760.0,2100.0,Eastern Time (US & Canada),False,en,YouJustCtrlC,ProBlack | Stoner | even jesus was stoned befo...,Thu Jun 13 16:07:23 +0000 2013,2744.0,2700.0,10.0
8,1.517679e+09,"Philadelphia, PA",Mr Moran,879.0,2044.0,Eastern Time (US & Canada),False,en,MrMoraan,I'm getting too cool for this social media shi...,Fri Jun 14 21:58:48 +0000 2013,2981.0,758.0,15.0
9,1.518857e+09,USA,Jonathon Norwood,789.0,2002.0,Eastern Time (US & Canada),False,en,NoJonathonNo,Strive not to be a success but rather to be of...,Sat Jun 15 08:47:02 +0000 2013,2170.0,440.0,8.0
10,1.532864e+09,ATL,Harper H21,1956.0,3300.0,Eastern Time (US & Canada),False,en,CharlesJHarper,if you don't like me-it's ok,Thu Jun 20 04:49:04 +0000 2013,1850.0,1626.0,21.0
11,1.533814e+09,USA,Lara Pretty,1795.0,3342.0,Eastern Time (US & Canada),False,en,PrettyLaraPlace,Bitter Clinger #USAFVet #NRA #2A #bluestarmom ...,Thu Jun 20 12:35:59 +0000 2013,3555.0,1360.0,24.0
12,1.584280e+09,"Chicago, IL",Jasiah Jenkins,728.0,1918.0,Eastern Time (US & Canada),False,en,BigBoyJasiah,Visionary..... don't put me in a box.... Enigm...,Wed Jul 10 23:55:16 +0000 2013,2342.0,393.0,19.0
13,1.594887e+09,USA,Jeremy Roberts,837.0,1573.0,Eastern Time (US & Canada),False,en,Jery_RobertsYo,I think we can all agree that the 3 most power...,Mon Jul 15 03:34:50 +0000 2013,1836.0,898.0,5.0
14,1.612107e+09,USA,Reuben Littlejohn,738.0,1899.0,Eastern Time (US & Canada),False,en,LILJordamn,young nigga just trying to make# also do music#,Mon Jul 22 05:34:20 +0000 2013,2251.0,608.0,16.0
15,1.617939e+09,USA,Pauline Gunn,908.0,1906.0,Eastern Time (US & Canada),False,en,PaulineTT,"I be trying to chill, I swear do, because I lu...",Wed Jul 24 14:50:02 +0000 2013,1983.0,1075.0,5.0
16,1.620474e+09,USA,Ramona Mcintosh,877.0,1745.0,Eastern Time (US & Canada),False,en,RamonasNails,"Mom, Global Nail Artist, Consultant, blah,blah...",Thu Jul 25 14:06:28 +0000 2013,1992.0,1138.0,6.0
17,1.623180e+09,NaN,Jeffrey Kahunas,1565.0,2320.0,Pacific Time (US & Canada),False,en,JeffreyKahunas,"Honor God & Jesus & Your Parents Country, GOP,...",Fri Jul 26 15:01:14 +0000 2013,1090.0,1586.0,18.0
18,1.627097e+09,"Chicago, IL",Jason Scott,674.0,1818.0,Eastern Time (US & Canada),False,en,JassScott,"Bring the drama, playa. Give me all you got. M...",Sun Jul 28 04:54:51 +0000 2013,2004.0,321.0,13.0
19,1.627699e+09,United States,Sherman Cannon,2854.0,10203.0,Eastern Time (US & Canada),False,en,CannonSher,Education costs money. But then so does ignor...,Sun Jul 28 11:51:53 +0000 2013,10128.0,2487.0,30.0
20,1.629828e+09,"New York, USA",Lovely Cass,2121.0,3831.0,Eastern Time (US & Canada),False,en,cassishere,Fun-loving conservative sharing the truth that...,Mon Jul 29 07:59:27 +0000 2013,4154.0,2220.0,36.0
21,1.647046e+09,Alaska,Carrie,2291.0,3222.0,Eastern Time (US & Canada),False,en,CarrieThornthon,Conservative Christian Momma. Political junkie...,Mon Aug 05 05:56:27 +0000 2013,3930.0,2272.0,23.0
22,1.648012e+09,United States,Anthony Nelson,853.0,1771.0,Eastern Time (US & Canada),False,en,ImaPharrelFake,"Here to state my point of view, make you laugh...",Mon Aug 05 14:58:13 +0000 2013,2764.0,1164.0,16.0
23,1.649144e+09,NaN,Wesley Holmes,1519.0,1232.0,Pacific Time (US & Canada),False,en,WesternWindWes,"Stand with God, Family, Constitution & 2A. On ...",Tue Aug 06 01:49:24 +0000 2013,592.0,1351.0,29.0
24,1.649488e+09,USA,Khloe Irving,909.0,1935.0,Eastern Time (US & Canada),False,en,HiImKhloe,Running back and forth forever between grief a...,Tue Aug 06 05:08:41 +0000 2013,2026.0,859.0,13.0
25,1.649967e+09,United States,Nick Luna,1457.0,2100.0,Pacific Time (US & Canada),False,en,_NickLuna_,"Christian, Dad, Husband, Conservative. Trolls ...",Tue Aug 06 10:16:28 +0000 2013,2001.0,1262.0,21.0
26,1.650682e+09,United States,Messiah Haynes,2804.0,5554.0,Eastern Time (US & Canada),False,en,IlikeBIGbuttand,The only true wisdom is in knowing you know no...,Tue Aug 06 16:32:34 +0000 2013,3939.0,2421.0,27.0
27,1.651693e+09,USA,Thomas Lopez,456.0,1637.0,Eastern Time (US & Canada),False,en,staywoke88,Problem solver...,Wed Aug 07 01:19:25 +0000 2013,1117.0,551.0,11.0
28,1.651694e+09,United States,Cynthia Mary Hunter,429.0,2759.0,Eastern Time (US & Canada),False,en,CynthiaMHunter,Christian Conservative #ProConstitution #2A #P...,Wed Aug 07 01:19:57 +0000 2013,4532.0,451.0,23.0
29,1.652139e+09,NY,Bossy Bo$$,900.0,1725.0,Eastern Time (US & Canada),False,en,acejinev,"Very outspoken, but don't take it for anger. x...",Wed Aug 07 05:22:21 +0000 2013,1836.0,806.0,11.0
30,1.652263e+09,USA,Anton Haynes,671.0,1936.0,Eastern Time (US & Canada),False,en,AntonHayHay,white people are the most blood thirsty savage...,Wed Aug 07 06:52:35 +0000 2013,1849.0,310.0,14.0
31,1.652987e+09,USA,Alec Moody,905.0,3420.0,Eastern Time (US & Canada),False,en,AlecMooooody,Love and respect all colors of skin. Teach res...,Wed Aug 07 13:58:59 +0000 2013,3738.0,530.0,23.0
32,1.653554e+09,Florida,Jayda Stone,916.0,1978.0,Eastern Time (US & Canada),False,en,JaydaAstonishin,Aquarius. Queen Bey Stan. Happily Taken. caref...,Wed Aug 07 17:59:05 +0000 2013,2191.0,1196.0,9.0
33,1.655194e+09,"St Louis, MO",̧M̧ȩļa̧ņi̧ņ,963.0,2121.0,Eastern Time (US & Canada),False,en,melanymelanin,NaN,Thu Aug 08 11:23:24 +0000 2013,2717.0,915.0,10.0
34,1.656024e+09,NaN,Nancy CAMPBELL,784.0,2124.0,Eastern Time (US & Canada),False,en,IMissObama,I already miss Barack Obama in 2k16 smth...,Thu Aug 08 19:11:36 +0000 2013,2088.0,478.0,14.0
35,1.656686e+09,USA,Jeanne Mccarthy,3242.0,1999.0,Eastern Time (US & Canada),False,en,JeanneMccarthy0,"Conservative domestic goddess devoted to God, ...",Fri Aug 09 02:18:37 +0000 2013,1863.0,3420.0,35.0
36,1.657695e+09,US,Jadon Dailey,1753.0,2299.0,Eastern Time (US & Canada),False,en,DaileyJadon,"You only live once, but if you do it right, on...",Fri Aug 09 12:38:08 +0000 2013,1298.0,1485.0,13.0
37,1.657834e+09,USA,Adrienne,1822.0,2083.0,Eastern Time (US & Canada),False,en,Adrienne_GG,lucky I am)),Fri Aug 09 13:55:17 +0000 2013,1010.0,1548.0,15.0
38,1.658203e+09,United States,Laura Baeley,1073.0,1946.0,Eastern Time (US & Canada),False,en,LauraBaeley,Liberty's Torch Bearer and best friend. OPINIO...,Fri Aug 09 17:24:31 +0000 2013,1933.0,1160.0,14.0
39,1.658421e+09,USA,Bao Ham,1032.0,2004.0,Eastern Time (US & Canada),False,en,BaoBaeHam,"When I let go of what I am, I become what I mi...",Fri Aug 09 19:23:10 +0000 2013,2420.0,836.0,12.0
40,1.658441e+09,USA,Travi$ Lane,826.0,1875.0,Eastern Time (US & Canada),False,en,TravisRespek,"'As long as we try, maybe things will change' ...",Fri Aug 09 19:14:25 +0000 2013,2384.0,931.0,12.0
41,4.332741e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,USA_Gunslinger,NaN,NaN,NaN,NaN,NaN
42,4.840552e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BlackToLive,NaN,NaN,NaN,NaN,NaN
43,4.437234e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Crystal1Johnson,NaN,NaN,NaN,NaN,NaN
44,4.224730e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TEN_GOP,NaN,NaN,NaN,NaN,NaN
45,1.659550e+09,NY,Jared Mallory,824.0,1811.0,Eastern Time (US & Canada),False,en,MalloryJared,I`m studing to earn much money in the future a...,Sat Aug 10 08:10:31 +0000 2013,2145.0,874.0,17.0
46,1.660375e+09,USA,Sarah Richards,865.0,1747.0,Eastern Time (US & Canada),False,en,iLoveSarahRich,Just trying to love the life I'm living & the ...,Sat Aug 10 15:28:00 +0000 2013,2021.0,974.0,6.0
47,1.660771e+09,USA,Garret Simpson,1588.0,2010.0,Eastern Time (US & Canada),False,en,GarrettSimpson_,"Conservative, but I like chatting with people ...",Sat Aug 10 19:27:26 +0000 2013,1577.0,1339.0,25.0
48,1.661246e+09,USA,Kate Ritter,1578.0,5347.0,Eastern Time (US & Canada),False,en,KateRitterrrr,I am a True Conservative and I love my country...,Sun Aug 11 00:17:33 +0000 2013,6797.0,1320.0,54.0
49,1.662454e+09,USA,Ernest Rivers,827.0,1854.0,Eastern Time (US & Canada),False,en,ErRivvvvers,You do what you want when you poppin' #Thugger...,Sun Aug 11 12:32:12 +0000 2013,2263.0,864.0,10.0
50,1.664988e+09,USA,Claudia,2102.0,2574.0,Eastern Time (US & Canada),False,en,claudia42kern,"Lots of hobbies, prefer to lay in bed and do n...",Mon Aug 12 12:28:59 +0000 2013,1609.0,1723.0,20.0
51,1.665377e+09,"New York, USA",Elias Briggs,820.0,2047.0,Eastern Time (US & Canada),False,en,EliasBrick,"Tenured professor, Director of Black Church St...",Mon Aug 12 15:33:31 +0000 2013,2060.0,903.0,6.0
52,1.666030e+09,USA,Pam Daniels,943.0,2478.0,Eastern Time (US & Canada),False,en,PamBLMDaniels,"Smart, strong, sensual woman\n#BlackLivesMatte...",Mon Aug 12 20:50:57 +0000 2013,2530.0,549.0,24.0
53,1.668307e+09,Baltimore,Curtis Burrell,3143.0,5510.0,Eastern Time (US & Canada),False,en,CurtisBigMan,Big Man!,Tue Aug 13 17:05:52 +0000 2013,3721.0,2896.0,32.0
54,1.669575e+09,USA,Rick Shafer,2694.0,1703.0,Eastern Time (US & Canada),False,en,deusXYX,Freedom & Liberty Warrior Constitutional Conse...,Wed Aug 14 05:02:51 +0000 2013,1021.0,3191.0,36.0
55,1.670149e+09,USA,Javon Grayson,841.0,3479.0,Eastern Time (US & Canada),False,en,JavonHIDP,The best time to plant a tree was 20 years ago...,Wed Aug 14 10:44:06 +0000 2013,4438.0,456.0,18.0
56,1.670319e+09,USA,Alexander Massey,941.0,2039.0,Eastern Time (US & Canada),False,en,Siccerthanyou,"siccer than your average, boi #blm #BlackLives...",Wed Aug 14 11:53:20 +0000 2013,2313.0,854.0,13.0
57,1.671235e+09,USA,Susan,2225.0,10242.0,Eastern Time (US & Canada),False,en,hyddrox,~Reagan Conservative ~Jesus Lover ~PRO-Israel ...,Wed Aug 14 19:07:30 +0000 2013,8748.0,2159.0,72.0
58,1.672624e+09,USA,Samir Gooden,873.0,1739.0,Eastern Time (US & Canada),False,en,SamirGooden,"Young (in spirit), Gifted and Black. Proud Pro...",Thu Aug 15 08:09:52 +0000 2013,2237.0,794.0,11.0
59,1.674084e+09,USA,Gabriella Aldana,3356.0,3861.0,Eastern Time (US & Canada),False,en,Gab1Aldana,❤ Love my life ❤,Thu Aug 15 21:02:22 +0000 2013,3861.0,3020.0,31.0
60,1.676377e+09,USA,Chad Sloyer,797.0,2446.0,Eastern Time (US & Canada),False,en,ChadSloyer,i was a good kid. never said I was a good adul...,Fri Aug 16 18:51:11 +0000 2013,3081.0,872.0,11.0
61,1.676481e+09,USA,Emilee Waren,1909.0,2170.0,Eastern Time (US & Canada),False,en,EmileeWaren,•Christian•Constitutional•Capitalist •NRA•Supp...,Fri Aug 16 19:50:47 +0000 2013,1778.0,1501.0,23.0
62,1.677049e+09,"Baton Rouge, LA",Gwendolyn Lovet,1055.0,2597.0,Eastern Time (US & Canada),False,en,GwennyThot,I HAVE TOO MANY FLAWS TO BE PERFECT BUT I HAVE...,Sat Aug 17 01:20:54 +0000 2013,3124.0,875.0,16.0
63,1.679279e+09,USA,Amelie Baldwin,2464.0,15227.0,Eastern Time (US & Canada),False,en,AmelieBaldwin,"Wife, Mother, Patriot, Friend",Sat Aug 17 22:53:07 +0000 2013,14540.0,1930.0,160.0
64,1.680579e+09,USA,Rosie Wise,683.0,1229.0,Eastern Time (US & Canada),False,en,RosieOnFleek,"'So, About That' on YT. Your woke big sister.\...",Sun Aug 18 11:56:48 +0000 2013,1353.0,637.0,23.0
65,1.681163e+09,"Chicago, IL",Jerry,2608.0,9703.0,Eastern Time (US & Canada),False,en,camosaseko,Enjoy your life and don't interfere in mine,Sun Aug 18 17:12:57 +0000 2013,10088.0,2279.0,27.0
66,1.682445e+09,USA,Peyton Cash,770.0,1576.0,Eastern Time (US & Canada),False,en,PeytonCashOut,"#blackpride. Opinions, insights and witticisms...",Mon Aug 19 05:55:49 +0000 2013,1964.0,746.0,12.0
67,1.684524e+09,USA,Will Wise,904.0,1844.0,Eastern Time (US & Canada),False,en,DatWiseNigga,"Squad goin' up, nobody flippin' packs now\n#Il...",Tue Aug 20 00:53:56 +0000 2013,2393.0,812.0,16.0
68,1.685173e+09,USA,Chase Bacon,696.0,1889.0,Eastern Time (US & Canada),False,en,BLMSoldier,#BlackLivesMatter Future Guest on Pardon The I...,Tue Aug 20 07:33:54 +0000 2013,2129.0,707.0,25.0
69,1.685718e+09,America,John Larsen,541.0,2387.0,Eastern Time (US & Canada),False,en,J0hnLarsen,"stand 4 conservatism, patriotism & optimism. P...",Tue Aug 20 13:02:28 +0000 2013,3211.0,852.0,21.0
70,1.685772e+09,USA,Stanley Parrish,849.0,1761.0,Eastern Time (US & Canada),False,en,StanleyParris,I attribute my success to this: I never gave o...,Tue Aug 20 12:59:48 +0000 2013,1975.0,1149.0,9.0
71,1.686370e+09,United States,Archie Olivers,2569.0,1854.0,Pacific Time (US & Canada),False,en,ArchieOlivers,"My patriotic heart beats red, white, & blue.Ju...",Tue Aug 20 17:49:51 +0000 2013,1006.0,3396.0,28.0
72,1.687184e+09,USA,Bleep The Police,13196.0,13727.0,Eastern Time (US & Canada),False,en,BleepThePolice,"For a second at least, I'm resurrecting the pe...",Wed Aug 21 01:49:22 +0000 2013,11083.0,8071.0,163.0
73,1.688371e+09,"Georgia, USA",Watch Jenny Walkin',851.0,2259.0,Pacific Time (US & Canada),False,en,WatchMeWalkin,Working - Music geek + Blacker than BlackHole,Wed Aug 21 13:49:48 +0000 2013,2214.0,547.0,10.0
74,1.690488e+09,USA,Michelle Arrington,3229.0,2433.0,Eastern Time (US & Canada),False,en,MichelleArry,Cautiously Optimistic Conservative. Gathering ...,Thu Aug 22 08:41:12 +0000 2013,2157.0,3290.0,42.0
75,1.691736e+09,"Los Angeles, CA",Reginald Blackmon,856.0,1997.0,Eastern Time (US & Canada),False,en,RegieBlackmon,I’ve learned that people will forget what you ...,Thu Aug 22 18:06:53 +0000 2013,2558.0,931.0,10.0
76,1.692501e+09,"Los Angeles, CA",Cornell Burchett,766.0,1786.0,Eastern Time (US & Canada),False,en,CornellBurchet,"A world for a few, a few to justice, lands in ...",Fri Aug 23 01:00:15 +0000 2013,2166.0,720.0,19.0
77,1.694026e+09,United States,Jackie Best,2078.0,3416.0,Eastern Time (US & Canada),False,en,JacquelinIsBest,"I love God,my family & politics. Conservative....",Fri Aug 23 14:41:32 +0000 2013,3518.0,1757.0,31.0
78,1.695831e+09,United States,Kelvin Chambers,1506.0,1576.0,Pacific Time (US & Canada),False,en,Kelvin_Chambers,Father of twin daughters. Conservative Republi...,Sat Aug 24 07:32:29 +0000 2013,984.0,1260.0,32.0
79,1.699979e+09,"Texas, USA",Randolph Burris,876.0,1914.0,Eastern Time (US & Canada),False,en,RandolphBurrr,"#FreeGucci\nBlacktivist, I'm down with #BlackL...",Sun Aug 25 19:28:17 +0000 2013,2552.0,917.0,10.0
80,4.272871e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Pamela_Moore13,NaN,NaN,NaN,NaN,NaN
81,1.701955e+09,"Baltimore, MD",Zachary Freeman,899.0,1700.0,Eastern Time (US & Canada),False,en,ZzzacharyZzz,"i work out hard as fuck, bench press and lift ...",Mon Aug 26 13:25:39 +0000 2013,2290.0,831.0,14.0
82,1.710805e+09,United States,Steven Cook,1468.0,2188.0,Pacific Time (US & Canada),False,en,CooknCooks,"HI FBI !!! #TRUMP, #Trump2016, @realdonaldtrum...",Thu Aug 29 19:45:40 +0000 2013,2447.0,1454.0,15.0
83,1.715191e+09,USA,One Mighty Fish,698.0,1718.0,Eastern Time (US & Canada),False,en,OneMightyFish,People are just afraid of things too much. Afr...,Sat Aug 31 09:33:57 +0000 2013,1978.0,831.0,13.0
84,1.715425e+09,United States,Mackenzie Donovan,536.0,2300.0,Eastern Time (US & Canada),False,en,KenzDonovan,Const Conservative Patriot Mamma❤️Defending #L...,Sat Aug 31 11:06:09 +0000 2013,2609.0,577.0,10.0
85,1.716229e+09,USA,Jasmin Jacobs,906.0,2217.0,Eastern Time (US & Canada),False,en,Jani_s_Jac,"i aint shit now, but bitch i might be ✨\n#Free...",Sat Aug 31 17:14:08 +0000 2013,2405.0,575.0,10.0
86,1.716561e+09,USA,Ida Marks,1080.0,2194.0,Eastern Time (US & Canada),False,en,IIddaaMarks,An unexamined life is not worth living. –Socrates,Sat Aug 31 19:07:08 +0000 2013,3051.0,925.0,14.0
87,1.720117e+09,USA,Donna from USA,1623.0,2341.0,Eastern Time (US & Canada),False,en,DonnaBRivera,Constitutional Conservative #1A #2A #NRA #Stan...,Sun Sep 01 20:02:10 +0000 2013,1772.0,1552.0,33.0
88,1.720982e+09,USA,Hunter Odom,2727.0,2076.0,Eastern Time (US & Canada),False,en,HunterOddddom,Life is 10% what happens to me and 90% of how ...,Mon Sep 02 02:57:06 +0000 2013,2615.0,2001.0,24.0
89,1.727482e+09,NaN,Fluffy Melvin,3169.0,4874.0,Eastern Time (US & Canada),False,en,MelvinSRoberts,Internet junkie #hashtagwars lover!,Wed Sep 04 03:45:27 +0000 2013,3562.0,2658.0,30.0
90,1.768260e+09,"USA, Atlanta",Clyde Pratt,914.0,1978.0,Eastern Time (US & Canada),False,en,mrclydepratt,Life is a beautiful struggle. Seek enlightenme...,Sat Sep 07 19:16:06 +0000 2013,1996.0,847.0,23.0
91,1.833224e+09,USA,Dorothie,1893.0,3069.0,Eastern Time (US & Canada),False,en,DorothieBell,"Conservative wife, mother! Extremely proud of ...",Sun Sep 08 19:08:41 +0000 2013,3166.0,2315.0,33.0
92,1.856829e+09,"Florida, USA",Deandre Gregory,774.0,1703.0,Eastern Time (US & Canada),False,en,OGDeandre,Read the mess I tweet & retweet about & you'll...,Thu Sep 12 09:04:03 +0000 2013,1989.0,415.0,11.0
93,1.859674e+09,US,Michael Garcia,851.0,2295.0,Eastern Time (US & Canada),False,en,DrMichaelGarcia,I make privileged people upset #BlackLivesMatt...,Fri Sep 13 06:39:11 +0000 2013,2937.0,453.0,11.0
94,1.868496e+09,USA,Briana Ragland,768.0,2938.0,Eastern Time (US & Canada),False,en,brianaregland,Black is my religion. If you buy me lipstick w...,Sun Sep 15 17:11:49 +0000 2013,3221.0,415.0,12.0
95,1.868981e+09,United States,Ryan Maxwell,1839.0,1853.0,Pacific Time (US & Canada),False,en,RyanMaxwell_1,"Conservative. sports fan. Doing what I love, p...",Sun Sep 15 19:45:16 +0000 2013,1102.0,1990.0,25.0
96,1.914761e+09,NYC,Raven Nicholson,807.0,1645.0,Eastern Time (US & Canada),False,en,ravenicholson,Everybody deserves to know they too can be the...,Sat Sep 28 17:17:28 +0000 2013,2437.0,860.0,10.0
97,2.233297e+09,"Москва, Россия",Артур Буранов,405.0,1350.0,Yerevan,False,ru,ArturBuranof,Лучшее средство привить детям любовь к отечест...,Fri Dec 06 17:29:56 +0000 2013,615.0,1628.0,1.0
98,2.388392e+09,"Москва, Россия",Бучин Боря,108.0,1357.0,Baku,False,ru,Boryabuchin,"Москва, как много в этом звуке Для сердца русс...",Thu Mar 06 13:29:09 +0000 2014,1476.0,215.0,1.0
99,2.404145e+09,NaN,Мистер Пудинг,81.0,1310.0,Moscow,False,ru,Puddin_Leto,"Вы верите в дружбу, а я верю в шантаж.",Wed Mar 12 07:09:51 +0000 2014,2264.0,85.0,0.0
100,2.415525e+09,"Москва, Россия",Артём Захаров,2111.0,586.0,Volgograd,False,ru,teZaharov,"Высшая доблесть состоит в том, чтобы совершать...",Sun Mar 16 16:04:57 +0000 2014,406.0,69.0,0.0
101,2.419886e+09,Мурманск,Валентина Дмитриева,2466.0,1312.0,Moscow,False,ru,Valeyina_Dm,Против белоленточной чумы #ЯПатриотка,Tue Mar 18 11:53:29 +0000 2014,354.0,811.0,1.0
102,2.422794e+09,Санкт-Петербург,БогданКравцов,2741.0,1619.0,Baku,False,ru,BogdanKravcov,Любовь к Отечеству - это готовность защищать е...,Wed Mar 19 15:33:40 +0000 2014,908.0,1564.0,4.0
103,2.478384e+09,NaN,Алексей Лапин,2219.0,1237.0,Volgograd,False,ru,_SashaLapin,У Пушкина есть грандиозная фраза...\nГордиться...,Sat Apr 12 09:09:27 +0000 2014,345.0,679.0,4.0
104,2.484643e+09,NaN,Warfare Worldwide,23876.0,2618.0,St. Petersburg,False,en,WarfareWW,Political & Military Analyst,Mon Apr 14 17:32:56 +0000 2014,247.0,7481.0,565.0

In [18]:
# Look at the common user ids and usernames across the two lists
print('{} common ids'.format(len(set(dfusers['user id'].tolist()) & set(dfdetailed['id'].tolist()))))
print('{} common ids'.format(len(set(dfusers['handle'].str.lower().tolist()) & set(dfdetailed['name'].str.lower().tolist()))))      
dfboth = pd.merge(dfusers[['user id', 'handle']], dfdetailed[['id', 'screen_name', 'name']], left_on='user id', right_on='id')
print('{}'.format(dfboth[dfboth['handle'] != dfboth['screen_name']]))

383 common ids
3 common ids
        user id          handle            id  screen_name name
337  4224912857  southlonestar2  4.224913e+09  RealTEN_GOP  NaN